@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    gap: 8vw;
}

/* Header / Banner */

.header{
    width: 100vw;
    background-color: #FFF8F3;
    height: 52vw;
    position: relative;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 10vw;
    margin: 0 auto;
}

.toph3{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

span{
    color: #FD6E0A;
}

.headul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

ul li{
    list-style: none;
}

li a{
    color: #474747;
    font-size: 20px;
    text-decoration: none;
}

.extranavdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:42vw;
    width: 100%;
}

.extranavdiv img{
    height: 100%;
    position: relative;
    z-index: 1;
    margin-right: 2.375vw;
}

.bannertext{
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    width: 45vw;
}

.ban1stp{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

h1{
    color: #181818;
    font-size: 5.3125vw;
    font-weight: bold;
}

.sp18textst{
    color: #757575;
    font-size: 18px;
    text-align: left;
    margin-bottom: 24px;
}

.btn2{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.spbtn{
    background-color: #FFF8F3;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
}

.developerimg{
    position: absolute;
    height: 49.4vw;
    width: 6vw;
    top: 1.3vw;
    left: 2vw;
}

.hardybg{
    position: absolute;
    height: 29.4vw;
    width: auto;
    bottom: 0;
    right: 0;
}

.developerimg img, .hardybg img {
    height: 100%;
    width: 100%;
}

/* about us  */
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vw;
}

.aboutus{
    width: 80vw;
    background-color: rgb(255, 248, 243);
    padding: 8% 10%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutinfo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid black;
    width: 60vw;
    background-color: white;
}

.unh3{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.un18p{
    color: #757575;
    font-size: 18px;
    text-align: center;
}

.personalinfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.un20p{
    color: #757575;
    font-size: 20px;
}

.un20bp{
    color: #474747;
    font-size: 20px;
    font-weight: bold;
}

#skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 8vw;
}

.perinfobox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillintro{
    width: 65vw;
    color: #757575;
    font-size: 18px;
    text-align: center;
}

.skillli{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    margin-top: 2rem;
}

.skill{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 4px 12px 24px rgba(24, 24, 24, 0.5);
    width: 22%;
}

.skimg{
    background-image: url(./images/icons/js.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 48px;
    width: 48px;
}

.sk20bp{
    color: #181818;
    font-size: 20px;
    font-weight: bold;
}

.un16pxp{
    color: #757575;
    font-size: 16px;
}

/* Resume */
.resume{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.retext{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 7vw;
}

h4{
    color: #474747;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.degexdes{
    padding: 1rem 0;
}

.sp2border{
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}

h5{
    color: #474747;
    font-size: 25px;
    font-weight: bold;
}

.unsbtext{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 0 20px;
}

.unbtn{
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #FD6E0A;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

footer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF8F3;
    margin-top: 8vw;
}

.footercontainer{
    width: 80vw;
    margin: 8vw 0;
    display: flex;
    flex-direction: row;
    gap: 7vw;
}

.fh3sp{
    text-align: left;
    margin-bottom: 8px;
}

.socilaicon{
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    gap: 24px;
}

.socilme{
    background-image: url(./images/icons/facebook.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 24px;
    height: 24px;
}

.footer1{
    display: flex;
    flex-direction: column;
    width: 55%;
}

form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 45%;
}

form > input{
    height: 4rem;
    width: 100%;
}

form > input::placeholder{
    padding-left: 2rem;
    font-size: 16px;
    color: #757575;
}

textarea::placeholder{
    padding-left: 2rem;
    font-size: 16px;
    color: #757575;
}


/* Responsive media quary */

.hide{
    display: none;
}



@media screen and (max-width:576px) {
    

    .header{
        height: auto;
    }
    .nav {
        flex-direction: column; /* Stack nav items vertically */
        gap: 10px; /* Add gap between items */
        height: auto;
    }

    .headul {
        flex-direction: row; /* Stack list items vertically */
        gap: 10px; /* Add gap between items */
        margin: 24px 0;
        justify-content: space-around;
        width: 100vw;
    }

    .extranavdiv {
        flex-direction: column; /* Stack banner text and image vertically */
        justify-content: flex-start;
        align-items: center;
        height: auto; /* Align items to the start */
    }

    .extranavdiv img {
        height: auto;
        max-width: 80%;
        margin-right: 0; /* Remove margin for small screens */
        margin-top: 20px; /* Add margin for spacing */
    }

    .bannertext {
        padding-left: 0;
        width: 80%; /* Remove padding for small screens */
    }

    h1 {
        font-size: 8vw; /* Adjust font size for small screens */
    }

    .btn2 {
        flex-direction: column; /* Stack buttons vertically */
        gap: 10px; /* Add gap between buttons */
        width: 50%;
    }

    .developerimg, .hardybg{
        display: none;
    }
    .aboutus{
        width: 100vw;
    }
    .personalinfo{
        gap: 24px;
    }
    
    
    .skillli{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    .skill{
        width: 100%;
    }
    .retext{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .footercontainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }
    .footer1{
        width: 100%;
    }
    form{
        width: 100%;
    }

    form button{
        text-align: center;
    }
}


